* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }
  
  header {
    display:flex;
    justify-content: space-between;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  header div {
      font-size: large;
  }

  main {
      display:flex;
      justify-content: center;
  }

  main section {
      margin:30px;
      padding: 30px;
  }

  main section div {
    display:flex;
    justify-content: center;
  }

  /* This is not working when I add display: flex to ul li */
  ul {
    list-style-type: lower-alpha;
    max-width: 400px;
    display
  }

  ul li {
    display: flex;
    justify-content: center;
    background-color:#13293d;
    font-weight: bold;
    color:#fff;
    margin: 10px;
    padding: 5px;
  }

  .card {
    display:block;
    border: solid;
    border-color: #13293d;
    border-radius: 20px;
    margin:30px;
    padding: 30px;
  }

  button {
      background-color:#13293d;
      font-weight: bold;
      color:#fff;
      margin: 10px;
      padding: 5px;
  }
  /* keep this content but check it*/
@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }



