/* create custom CSS variables and apply them to the root */
:root {
    /* declare a variable with `--` syntax */
    --dark: #13293d;
    --light: #fff;
    --bordercolor: #b9c6ae;
  }


/*Change Header to flex container, add background color */
header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--dark);
    color: var(--light);
  }

  /* Change font size of my name */
header h1 {
    font-size: 200%;
  }

  /* Change all h2 font size */
h2 {
    font-size: 150%;
    color: var(--dark);
}

/* Set nav anchor links to light color, make the text bold, 
get rid of the underline */
nav a {
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
}

/* Make nav elements flex */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.highlightbar {
    background-color: var(--bordercolor);
    width: 100%;
    min-height: 10px;
}

#contactme {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: var(--dark);
    flex-wrap:wrap;
}

/* Add contactheader padding */
#contactme h2 {
    padding: 1%;
    color: var(--light);
}

#contactme div {
    display: flex;
    border-left-style:solid;
    border-color: var(--bordercolor);
    border-width: thick;
} 

/*Position and padding for contact me list items*/
#contactme ul {
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

/*Remove line and format text for contact me links */
#contactme ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
    color: var(--light);
    min-width: 500px;
} 

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: slategray;
    }
  }
  
  /* Have my header and main stack in a column under 768px screens */
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    header,
    main,  {
      flex-direction: column;
    }
}
  
  /* Small smartphones - stack contact me section column */
  @media screen and (max-width: 576px) {
    #contactme {
      flex-direction: column;
      background:slategray;
    }
  }